@model W23G72.Models.Contact

<div class="row">
    <div class="col-sm-6">
        <h2>Contact our team</h2>
        <p class="text-muted">
            Our team is happy to answer your questions. Fill out the form and we'll be in touch as soon as possible.'
        </p>
        <img src="/images/May8-flodesk-email.png" alt="Contact Image" class="img-fluid" />
    </div>

    <div class="col-sm-6">
        <div class="card shadow border-0 my-5">
            <div class="card-header bg-secondary bg-gradient text-center py-3">
                <h2 class="text-white">Contact Us</h2>
            </div>

    <form asp-controller="Contact" asp-action="Submit" method="post" class="p-4 text-right">
        <div class="form-group">
            <label asp-for="Name" class="col-form-label">Name:</label>
            <input asp-for="Name" class="form-control  border-1 shadow" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-form-label">Email:</label>
            <input asp-for="Email" class="form-control  border-1 shadow" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="col-form-label">Message:</label>
            <textarea asp-for="Message" class="form-control  border-1 shadow" style="margin-bottom: 10px;"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary " style="margin-top: 10px;">Submit</button>
        </div>
    </form>
</div>