<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <i class="fas fa-check-circle fa-5x text-success mb-3"></i>
            <h1 class="text-primary">Thank you!</h1>
            <p class="lead">Your order has been placed successfully!</p>
            <p>Your Order Number is: <strong>@Model</strong></p>
            <hr>
            <p class="text-muted">We appreciate you for choosing us. If you have any questions or concerns, feel free to contact our support team.</p>
            <a  asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Back to Home</a>
        </div>
    </div>
</div>
